/* @media screen and (min-width: 830px) */
@media screen and (min-width: 450px) {

    body, html {
        background: #0B161B url('../images/body.bgss.png') top no-repeat;
/*        background: #020301 url('../images/body.bgss.png') top no-repeat;*/
        text-align: justify;
    }

    a.list-group-item:hover, a.list-group-item:focus {
        background: #003F58;
    }

    .row>.col-md-4>.thumbnail>img {
        max-height: 150px;
        border: 1px solid #111;
        background: #272B30;
        padding: 10px;
        margin: 10px auto;
        border-radius: 3px;
    }

    .panel-body>.row>.col-md-4>img {
        min-width: 345px;
        margin: 0 auto;
        border: 1px solid #111;
        border-radius: 3px;
        background: #272B30;
        padding: 10px;
    }

    .panel-body>.row>.col-md-4 {
        text-align: center;
        position: relative;
    }

    .thumbnail {
        margin-bottom: 10px;
    }

    #topbg {
        background: #020301 url("../images/body.bgss.png") top center no-repeat fixed;
    }

    body>.container {
        background: #272B30; /*url('../images/article.header.bg.png') top repeat-x*/
        border: 1px solid #1B2F3B;
        margin-top: 0px;
        padding: 20px;
        padding-top: 45px;
        min-height: 500px;
        clear: both;
    }

    .thumbnail, .jumbotron, .panel {
        border: none;
/*        background: #222;*/
        background: #0B161B;
    }

    #centered {
        width: 1250px; margin: 0 auto; position: relative;
    }

    #logoleft {
        background: url('../images/header.logoleft.png') top no-repeat;
        width: 234px;
        height: 208px;
        margin: 0 auto;
        float: left;
    }

    #logobar  {
        background: url('../images/header.logobar.png') top no-repeat;
        width: 984px;
        margin: auto;
        margin-top: 47px;
        height: 88px;
        float: left;
    }

    .navbar	{
        height: 209px;
        position: relative;
    }

    .navbar img {
        display: none;
    }

    .dropdown-menu {
        background-color: #001927; color: #fff;
    }

    .dropdown-menu>li>a {
        color: #adc4d1;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        background-color: #003F58;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #003F58;
    }

    .navbar li {
        background: #001927;
    }

    .navbar .container {
        margin-top: 137px !important;
    }

    .navbar {
        background: url('../images/header.bg.png') bottom repeat-x !important;
    }

    .page-header {
        margin-top: 0px;
    }

    @media screen and (max-width: 830px) {
        #logoleft { display: none; }
    }
}

/* @media screen and (max-width: 830px) */
@media screen and (max-width: 450px)
{
    body {
        background: #DDDDDD none;
    }

    .navbar {
        background: #001927 url("../images/header_bg.png") repeat-x;
    }

    .navbar .navbar-collapse {
        background-color: #272B2E;
        background-image: linear-gradient(#020202, #101112 40%, #191B1D);
    }

    .navbar img {
        max-height:25px; display: block-inline;
    }

    .contenu {
        color: #333333;
        position: relative;
        top: 50px;
    }

    @media screen and (min-width: 768px) {
        .navbar .navbar-collapse {
            background: none;
        }
    }
}

.carousel-caption, .carousel-caption h4 {
    text-shadow:
    #000000 1px 1px 2px,
    #000000 -1px 1px 2px,
    #000000 -1px -1px 2px,
    #000000 1px -1px 2px !important;
}

.videoWrapper  {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe, .iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.iframe-responsive-wrapper {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}


@media screen and (min-width: 590px)
{
    #mycountdown>div {
        position: relative;
        left: -50px;
    }
    #compte_a_rebours {
        display: none;
    }
}

@media screen and (max-width: 590px)
{
    #mycountdown {
        display: none;
    }

    #compte_a_rebours {
        display: block;
    }
}
